*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

main{
    width: 100vw;
    display: flex;
    flex-direction: row;
}

section{
    flex-grow: 1;
    display: none; 
}

#home{
    display: block;
}

header{
    background-color: #FFC4DA;
    font-size: 35px;
    padding: 10px; 
    text-align: center; 
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
    color: #FF88B4; 
}

h2{
    margin-top: 18px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: #FF88B4;
    text-align: center;
}

/* added a h3 for the slogan and the name --- Cecilia */

h3{
    margin-top: 6px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #FF88B4;
    text-align: center;
  }  

nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh; 
    width: 275px;
    background-color: #FFE6F0;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul hr{
    border: solid 0.5px #FFC4DA;
    margin: 20px;
    width: 230px;

}

nav ul li{
    padding: 10px; 
    text-align: center;
    width: 220px;
    background-color: #FFC4DA;
    border-radius: 15px;
}




nav ul li a{
    text-decoration: none;
    color: #FF88B4;
    font-size: 22px;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    
}

/* -------------------- home --------------------*/

/* added home-section class for the centered div --- Cecilia */

.home-section{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 100%;
    width: 90%;
}

/* added home-logo class for the centered image --- Cecilia */

.home-section .home-logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 51%;
    border-radius: 15px;
    object-fit: contain;
}

/* -------------------- gestionate books --------------------*/
/* ######## Add button ###### */

.show-add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.show-add button{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background-color: #B8E780;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

/* ######## Form ###### */

.info-book{
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    height: 155px;
    background-color: #FFE6F0;
    width: 800px;
    margin: 25px auto;
    border-radius: 15px;
}

.info-book form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.info-book form .structure-input input:focus{
    outline: none;
    border: 2px solid #FF88B4;
}

.info-book form .structure-select select:focus{
    outline: none;
    border: 2px solid #FF88B4;
}

.info-book form .structure-input input[type="text"]{
    width: 350px;
    height: 18px;
    border-radius: 15px;
    padding: 5px;
    padding-left: 15px;
    margin: 0px 13px;
    margin-bottom: 5px;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
}

.info-book form .structure-input, .structure-select{
    display: flex;
    flex-direction: column;
}

.info-book form .structure-select label, .structure-input label{
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #FF88B4;
    margin: 0px 20px;
    margin-bottom: 5px;
}

.info-book form .structure-select select{
    width: 200px;
    height: 32px;
    border-radius: 15px;
    padding: 5px;
    margin: 0px 10px;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
}

.info-book form button{
    width: 100px;
    height: 25px;
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 26px;
    background-color: #B8E780;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

.info-book .form-visible img{
    width: 38px;
    height: 38px;
    margin-top: 20px;
    margin-left: 15px;
    cursor: pointer;
}

/* added footer style ---Cecilia */
/* there's a problem with it */

footer{
    display: flex;
    background-color: #FFC4DA;
    font-size: 20px;
    padding: 10px; 
    text-align: center; 
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    color: #FF88B4; 
    position: absolute;
    bottom: 0;
}